<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="offset-3 col-6">
            <div class="card register shadow p-3 mb-5 bg-grey rounded ">
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="form-group">
                            <input class="form-control" type="email" formControlName="email" placeholder="Email"
                                style="width:50%" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" formControlName="username" placeholder="Username"
                                style="width:50%">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" formControlName="password"
                                placeholder="Password" style="width:50%">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" formControlName="age" placeholder="Age"
                                style="width:50%">
                        </div>
                        <input type="submit" class="btn btn-secondary align-right" value="Register">
                    </form>
                </div>
            </div>
        </div>
        <div>