.jumbotron {
  margin-bottom: 0;
  background-color: rgb(98, 189, 224);
}

.head-title {
  margin-bottom: 30px;
  color: white;
  background-color: rgb(20, 79, 102);
  font-family: "veranda", cursive;
  font-size: small;
}
.bg {
  /* The image used */
  background-image: url("C:\Users\shivam_kumar3\Pictures\shoesite\OIP.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: fill;
  

  background-size: cover;
}