<app-navigation></app-navigation>
<div class="container">
  <br>
  <div class="row">
    <div class="col-3 align-left" *ngFor="let product of products">
      <table><td>
      <app-product [product]="product" (productAddToCart)="addToCart($event)">Loading...</app-product>
    </td>
    </table>
    </div>
  </div>
</div>