<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-Danger" style="background-color: darkslategray;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngSwitch]="loggedType">
      <div *ngSwitchCase="'home'">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class=" nav-link" routerLink="/register"><b>Register</b></a>
          </li>
          <li class="nav-item">
            <a class=" nav-link" routerLink="/login"><b>Login</b></a>
          </li>
        </ul>
      </div>
      <div class="ml-auto" *ngSwitchCase="'customer'">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class=" nav-link" routerLink="/home"><b>Home</b></a>
          </li>
          <li class="nav-item">
            <a class=" nav-link" routerLink="/home/address"><b>Address</b></a>
          </li>
          <li class="nav-item">
            <a class=" nav-link" routerLink="/home/cart"><b>Cart</b></a>
          </li>
          <li class="nav-item">
            <a class=" nav-link " (click)="logout()" style="cursor: pointer; float: right;"><b>Log out</b></a>
          </li>
        </ul>
      </div>
      <div class="ml-auto" *ngSwitchCase="'admin'">
        <ul class="navbar-nav mt-2 mt-lg-0 ">
          <li class="nav-item">
            <a class=" nav-link" routerLink="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class=" nav-link" routerLink="/admin/order">Orders</a>
          </li>
          <li class="nav-item">
            <a class=" nav-link" (click)="logout()" style="cursor: pointer;">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>